
      
      <div class="card" >
        <h3>Porcentaje de Inactivacion de Glifosato</h3>
        <div class="ingreso" *ngIf="this.ingrsoglif">
            <div class="row">
                <div class="col-6">
                    <div class="campo mb-3">
                        <label>Volumen de agua (Lt./ha.)</label>
                        <input type="number" [(ngModel)]="glifo.volumen" class="form-control">
                    </div>
                </div>
                <div class="col-6">
                    <div class="campo mb-3">
                        <label>Dureza (ppm)</label>
                        <input type="number" [(ngModel)]="glifo.dureza" class="form-control">
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="campo mb-3">
                        <label>Costo  Herbicida</label>
                        <input type="number" [(ngModel)]="glifo.costo" class="form-control">
                    </div>
                </div>
                <div class="col-6">
                    <div class="campo mb-3">
                        <label>Dosis por ha.</label>
                        <input type="number" [(ngModel)]="glifo.dosis" class="form-control">
                    </div>
                </div>
                
            </div>
            <button class="btn btngreen" (click)="CalularGli()" role="button">Calcular</button>
        </div>
        <div class="ingreso" *ngIf="!this.ingrsoglif">
            <div class="row">
                <div class="col-4">
                    <div class="resultado">
                        <h4>Porcentaje de inactivacion.</h4>
                        <div class="valor">{{glifo.porinactivacion}}</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="resultado">
                        <h4>valorizacion de inactivacion</h4>
                        <div class="valor">{{glifo.valinactivacion | currency}}</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="resultado">
                        <h4>Perdida Economica total por ha.</h4>
                        <div class="valor">{{glifo.perdida | currency}}</div>
                    </div>
                </div>
            </div>
            <button class="btn btnceleste" (click)="OtroGli()" role="button">Otro cálaculo</button>
        </div>
    </div>
      <div class="card">
        <h3>Costo de Dosis por Correccion</h3>
        <div class="ingreso" *ngIf="this.ingrsogcorr">
            <div class="row">
              <div class="col-6">
                <div class="campo mb-3">
                    <label>Capacidad Total Pulverizador (Lts)</label>
                    <input type="number" [(ngModel)]="corre.volumen" class="txt">
                </div>
              </div>
              <div class="col-6">
                <div class="campo mb-3">
                    <label>Litros por ha aplicados</label>
                    <input type="number" [(ngModel)]="corre.litros" class="txt">
                  </div>
              </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="campo mb-3">
                        <label>Costo Eco Potent Plus</label>
                        <input type="number" [(ngModel)]="corre.costoeco" class="txt">
                    </div>
                </div>
                <div class="col-6">
                    <div class="campo mb-3">
                        <label>Cantidad Has establecimiento</label>
                        <input type="number" [(ngModel)]="corre.hectareas" class="txt">
                    </div>
                </div>
                <div class="col-6">
                    <div class="campo mb-3">
                        <label>Cantidad Aplicaciones</label>
                        <input type="number" [(ngModel)]="corre.cantidad" class="txt">
                    </div>
                </div>
            </div>
            <button class="btn btngreen" (click)="CalularCorr()" role="button">Calcular</button>
        </div>
        <div class="ingreso" *ngIf="!this.ingrsogcorr">
            <div class="row">
                <div class="col-6">
                    <div class="resultado">
                        <h4>Cantidad de hectareas</h4>
                        <div class="valor">{{corre.canthec}}</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="resultado">
                        <h4>Costo Final por hectareas </h4>
                        <div class="valor">{{corre.costohec | currency}}</div>
                    </div>
                </div>
            </div>
            <button class="btn btnceleste" (click)="OtroCorr()" role="button">Otro cálaculo</button>
        </div>
    </div>
  
      <div class="card"  *ngIf="this.resultadofinal">
        <h3>Costes Establecimiento</h3>
        <img src="assets/load.gif" *ngIf="this.loading">
        <div class="ingreso" *ngIf="!this.loading">
            <div class="row">
                <div class="col-6">
                    <div class="resultado verde">
                        <h4>Costo Total Establecimiento</h4>
                        <div class="valor">{{totalesta | currency}}</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="resultado verde">
                        <h4>Costo Total Aplicacion AKO</h4>
                        <div class="valor">{{totalako | currency}}</div>
                      </div>
                </div>
            </div>
            <button class="btn btnceleste" (click)="nuevo()" role="button">Otro cálaculo</button>
        </div>
      </div>

  