.vs/crm/config/applicationhost.config
*.suo
API/bin
API/obj
Backup
crm/.vscode
crmData/bin
crmData/obj
crmEntities/bin
crmEntities/obj
crmRules/bin
crmRules/obj
packages
crm/keys.json
.github/workflows/firebase-hosting-pull-request.yml
app/.firebase
