

<div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
  
        <div>
         Contactos
          <div
            class="page-title-subheading">
            Agregar / Editar
          </div>
        </div>
      </div>
      <div class="page-title-actions">
        <button type="button" (click)="Volver()" class="btn-shadow d-inline-flex align-items-center btn btn-dark">
          Volver
        </button>
      </div>
    </div>
  </div>
  
  
  
  <div class="card p-3">
    <form>
      
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="position-relative form-group">
              <label for="exampleInputUsername1">Nombre</label>
              <input [(ngModel)]="obj.Nombre" name="nombre" type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="position-relative form-group">
              <label for="exampleInputUsername1">Apellido</label>
              <input [(ngModel)]="obj.Apellido" name="Apellido" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <div class="position-relative form-group">
              <label for="exampleInputUsername1">Whatsapp</label>
              <input [(ngModel)]="obj.Whatsapp" name="Whatsapp" type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="position-relative form-group">
              <label for="exampleInputUsername1">Teléfono</label>
              <input [(ngModel)]="obj.Telefono" name="Telefono" type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="position-relative form-group">
              <label for="exampleInputUsername1">Mail</label>
              <input [(ngModel)]="obj.Email" name="Mail" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3">
          <div class="position-relative form-group">
              <label for="exampleInputUsername1">Dni</label>
              <input [(ngModel)]="obj.Dni" name="Dni" type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-3">
          <div class="position-relative form-group">
              <label for="exampleInputUsername1">Cuil / Cuit</label>
              <input [(ngModel)]="obj.Cuit" name="Cuit" type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-3">
            <div class="position-relative form-group">
                <label for="exampleInputUsername1">Estado Civil</label>
                <select [(ngModel)]="obj.EstadoCivil" name="cat" class="form-select">
                  <option  [ngValue]="'Soltero'">Soltero</option>
                  <option  [ngValue]="'Casado'">Casado</option>
                  <option  [ngValue]="'Viudo'">Viudo</option>
                  <option  [ngValue]="'Divorciado'">Divorciado</option>
    
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="position-relative form-group">
                <label for="exampleInputUsername1">Fecha nacimiento</label>
                <input [(ngModel)]="obj.FechaNacimiento" name="FechaNacimiento" type="datetime-local" class="form-control">
            </div>
        </div>
      
      </div>
      
      <div class="row mt-3" >
        <div class="col-md-4">
            <div class="position-relative form-group">
                <label for="exampleInputUsername1">Empresa</label>
                <input [(ngModel)]="obj.Empresa" name="Empresa" type="text" class="form-control">
            </div>
          </div>
        <div class="col-md-4">
          <div class="position-relative form-group">
              <label for="exampleInputUsername1">Profesion</label>
              <input [(ngModel)]="obj.Profesion" name="Profesion" type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="position-relative form-group">
              <label for="exampleInputUsername1">Actividad</label>
              <input [(ngModel)]="obj.Actividad" name="Actividad" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="row mt-3" >
        <div class="col-md-4">
            <div class="position-relative form-group">
                <label for="exampleInputUsername1">Facebook</label>
                <input [(ngModel)]="obj.Facebook" name="Facebook" type="text" class="form-control">
            </div>
          </div>
        <div class="col-md-4">
          <div class="position-relative form-group">
              <label for="exampleInputUsername1">Instagram</label>
              <input [(ngModel)]="obj.Instagram" name="Instagram" type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="position-relative form-group">
              <label for="exampleInputUsername1">Linkedin</label>
              <input [(ngModel)]="obj.Linkedin" name="Linkedin" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="row mt-3">
          <div class="col-md-4">
            <div class="position-relative form-group">
                <label for="exampleInputUsername1">Origen</label>
                <select [(ngModel)]="obj.IdOrigen" name="IdOrigen" class="form-select form-control">
                    <option *ngFor="let objO of Origenes"  [ngValue]="objO.IdOrigen">{{objO.Nombre}}</option>
                </select>
            </div>
          </div>
      </div>
      
    </form>
  </div>
  
<div class="card p-2 mt-5">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h5><b>Direcciones</b></h5>
            </div>
            <div class="col-md-6 text-end">
                <button class="btn-wide btn btn-primary" (click)="AbrirDireccion(null)">Agregar Dirección</button>
            </div>
        </div>
    </div>
    
    <div class="table-responsive m-2">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
        <thead>
        <tr>
            <th class="text-center">#</th>
            <th>Nombre</th>
            <th>Ubicación</th>
            <th class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let Dir of Direcciones;">
            <td class="text-center text-muted">#{{Dir.IdContactoDireccion}}</td>
            <td>{{Dir.Nombre}}</td>
            <td>{{Dir.Ubicacion}}</td>
            
            <td class="text-center">
              <i class="fas fa-trash me-2" role="button" (click)="BorrarDir(Dir)" *ngIf="Dir.Activo"></i>
              <i class="fas fa-edit me-2" role="button" (click)="AbrirDireccion(Dir)"></i>
            </td>
        </tr>
        </tbody>
        </table>
        
    </div>
</div>  

<div class="card p-2 mt-5">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h5><b>Acciones</b></h5>
            </div>
            <div class="col-md-6 text-end">
                <button class="btn-wide btn btn-primary" (click)="AbrirAccion(null)">Agregar Acción</button>
            </div>
        </div>
    </div>
  <div class="table-responsive m-2">
    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
      <thead>
      <tr>
        <th class="text-center">#</th>
        <th>Fecha</th>
        <th>Usuario</th>
        <th>Tipo Acción</th>
        <th>Accion</th>
        <th class="text-center">Acciones</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let Accion of Acciones;">
        <td class="text-center text-muted">#{{Accion.IdHistorialAcciones}}</td>
        <td>{{Accion.Fecha | date:'dd/MM/yyyy'}}</td>
        <td>{{Accion.ContactoUsuariosEntity.Nombre}} {{Accion.ContactoUsuariosEntity.Apellido}}</td>
        <td>{{Accion.ContactosTipoAccionesEntity.TipoAccion}}</td>
        <td>{{Accion.Accion}}</td>
        <td class="text-center">
          <!--<i class="fas fa-trash me-2" role="button" (click)="BorrarAccion(Accion)" *ngIf="Accion.Activo"></i>-->
          <i class="fas fa-edit me-2" role="button" (click)="AbrirAccion(Accion)"></i>
        </td>
      </tr>
      </tbody>
    </table>
    
  </div>
</div>
  <div class="card p-2 mt-5">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h5><b>Estados</b></h5>
            </div>
            <div class="col-md-6 text-end">
                <button class="btn-wide btn btn-primary" (click)="AbrirEstados(null)">Asignar un estado</button>
            </div>
        </div>
    </div>
    <div class="table-responsive m-2">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
        <thead>
        <tr>
            <th class="text-center">#</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Usuario</th>
            <!--<th class="text-center">Acciones</th>-->
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let estado of Estados;">
            <td class="text-center text-muted">#{{estado.IdHistorialEstadoContacto}}</td>
            <td>{{estado.Fecha | date:'dd/MM/yyyy'}}</td>
            <td>{{estado.ContactosEstadosEntity.Nombre}}</td>
            <td>{{estado.ContactoUsuariosEntity.Nombre}} {{estado.ContactoUsuariosEntity.Apellido}}</td>
            <!--<td class="text-center">
              <i class="fas fa-edit me-2" role="button" (click)="AbrirEstados(estado)"></i>
            </td>-->
        </tr>
        </tbody>
        </table>
    

        
    </div>
</div>

  <div class="card p-2 mt-5">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h5><b>Asignaciones</b></h5>
            </div>
            <div class="col-md-6 text-end">
                <button class="btn-wide btn btn-primary" (click)="AbrirAsignacion(null)">Asignar a un usuario</button>
            </div>
        </div>
    </div>
    <div class="table-responsive m-2">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
        <thead>
        <tr>
            <th class="text-center">#</th>
            <th>Fecha</th>
            <th>Usuario</th>
            <!--<th class="text-center">Acciones</th>-->
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let asignacion of Asignaciones;">
            <td class="text-center text-muted">#{{asignacion.IdHistorialAsignacionesContacto}}</td>
            <td>{{asignacion.Fecha | date:'dd/MM/yyyy'}}</td>
            <td>{{asignacion.ContactoUsuariosEntity.Nombre}} {{asignacion.ContactoUsuariosEntity.Apellido}}</td>
            <!--<td class="text-center">
              <i class="fas fa-edit me-2" role="button" (click)="AbrirAsignacion(asignacion)"></i>
            </td>-->
        </tr>
        </tbody>
        </table>
        

        
    </div>
</div>
<div class="card p-2 mt-5">
  <div class="card-header">
      <div class="row">
          <div class="col-md-6">
              <h5><b>Consultas</b></h5>
          </div>
          <div class="col-md-6 text-end">
              <!--<button class="btn-wide btn btn-primary" (click)="AbrirAsignacion(null)">Asignar a un usuario</button>-->
          </div>
      </div>
  </div>
  <div class="table-responsive m-2">
      <table class="align-middle mb-0 table table-borderless table-striped table-hover">
      <thead>
      <tr>
          
          <th>Fecha</th>
          <th>Total Establecimiento</th>
          <th>Total Ako</th>
          <th class="text-center">Acciones</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let home of obj.Home">
          <td>#{{home.fecha | date: 'dd/MM/yyyy'}}</td>
          <td>$ {{home.totalesta}}</td>
          <td>$ {{home.totalako}}</td>
          <td class="text-center"><i class="fas fa-edit me-2" role="button" (click)="AbrirConsulta(home)"></i></td>
      </tr>
      </tbody>
      </table>
      

      
  </div>
</div>
<div class="row">
    <div class="col-md-12 text-end">
        <button class="mt-3 btn btn-success mb-3" (click)="Guardar()">Guardar cambios</button>        
    </div>
</div>

  