
<div class="card">
    <div class="menu">
        <div class="row">
            <div class="col-md-12">
                <div class="item"><a [routerLink]="'/productos'">PRODUCTOS</a></div>
                <div class="item"><a [routerLink]="'/calculos'">INACTIVACIÓN</a></div>
                <div class="item"><a [routerLink]="'/'">XXXxxx xxx</a></div>
                <div class="item"><a [routerLink]="'/'">XXXxxx xxx</a></div>
                <div class="item"><a [routerLink]="'/'">XXXxxx xxx</a></div>
                <div class="item"><a [routerLink]="'/'">XXXxxx xxx</a></div>
            </div>
        </div>
        
    </div>
</div>