
<div class="card" >
    <h3>Ingrese sus datos</h3>
    <div class="ingreso">
        <div class="row">
            <div class="col-md-12">
                <div class="campo grande">
                    <label>Usuario</label>
                    <input type="text" [(ngModel)]="usuario" class="form-control mb-3">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="campo grande">
                    <label>Contraseña</label>
                    <input type="password" [(ngModel)]="contra" class="form-control mb-3">
                </div>
            </div>
        </div>
    </div>
    <button class="btn btnceleste" (click)="Ingresar()" role="button">Ingresar</button>
</div>
      
    
